
  .custom-nav-link:hover {
    color: rgb(100, 51, 25);
  }
.vidd{box-shadow: 10px 10px 10px black;}
.books22{ position: fixed;
  top: 0; /* Position it at the bottom */
  left: 0; /* Position it on the left side */
  z-index: -1; /* Ensure it is displayed behind other content */
margin-left:0%;

  filter: drop-shadow(12px 12px 8px rgba(0, 0, 0, 0.7));}



  .buttonn1 {
    background: linear-gradient(140.14deg, #d9aa84 15.05%, #ee7245 114.99%)
        padding-box,
      linear-gradient(142.51deg, #ff9465 8.65%, #af3b05 88.82%) border-box;
    border-radius: 7px;
    border: 2px solid transparent;
  
    text-shadow: 1px 1px 1px #00000040;
    box-shadow: 8px 8px 20px 0px #45090059;
  
    margin-right: 75%;
    padding: 10px 40px;
    line-height: 20px;
    cursor: pointer;
    transition: all 0.3s;
    color: rgba(0, 0, 0, 0.712);
    font-size: 18px;
    font-weight: 500;
  }
  
  .buttonn1:hover {
    box-shadow: none;
    opacity: 80%;
  }
  